@inherits LayoutComponentBase
<MudThemeProvider />
<div class="page">
    <MudAppBar Color="Color.Success">
        <MudText Typo="Typo.h4" class="px-4">MudBlazor Wasm Sample</MudText>
    </MudAppBar>

    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
